{% extends "base.html" %}

  {% block title %}
    Выход
  {% endblock %}

  {% block content %}
    <div class="alert alert-info">
      <h2> Вы успешно вышли. Возвращайтесь скорей! </h2>
      <a href="/"> На главную </a>
    </div>
  {% endblock content %}