{% extends "base.html" %}

  {% block title %}
    Вход
  {% endblock %}

  {% block content %}
    <form class="form-signin" role="form" method="post">
      {% csrf_token %}
      <h2 class="form-signin-heading"> Пожалуйста, войдите </h2>

      {% if form.errors %}
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          Имя пользователя и пароль не совпадают.
          Попробуйте снова.
        </div>
      {% endif %}

      <input name="username" class="form-control" placeholder="Login" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  {% endblock content %}