<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html">
    
    <title>
    {% block title %} 
      Главная страница 
    {% endblock %}
    </title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/jqcloud/jqcloud.css">
    <link rel="stylesheet" type="text/css" href="/mystyle.css">
    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet">

    {% block include_css %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <header class="navbar navbar-default navbar-static-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"> ASK Титаевский </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" style="padding-top: 1px; padding-bottom: 1px;">
              {% if user.avatar %}
                <img src="{{ MEDIA_URL }}{{ user.avatar }}" width="48" height="48">
              {% else %}
                <img width="48" height="48">
              {% endif %}
                  {{ user.username }}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'ask:user_questions' user.id %}"> Мои вопросы </a></li>
                <li><a href="{% url 'ask:user_info' %}"> Мои настройки </a></li>
                <li><a href="{% url 'ask:logout' %}"> Выход </a></li>
              </ul>
            </li>
          {% else %}
            <a href="{% url 'ask:signin' %}" type="button" class="btn btn-default navbar-btn"> Регистрация </a>
            <a href="{% url 'ask:login' %}" type="button" class="btn btn-default navbar-btn"> Войти </a>
          {% endif %}
        </ul>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
        {% block content %}

        {% endblock %}
        </div> <!-- col-md-9 -->

        <div class="col-md-3">
          <div style="margin-bottom: 20px;">
            <a class="btn btn-large btn-block btn-success" href="{% url 'ask:new_question' %}"> Задать вопрос </a>
          </div>

          <div class="input-group" id="fast-search" style="margin-bottom: 20px;">
            <input type="text" class="form-control" placeholder="Поиск">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading"> Популярные теги </div>
            <div class="panel-body" id="tagscloud" style="height: 300px;"></div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading"> Лучшие участники </div>
            <div class="list-group">
              {% include "popular_users.html" %}
            </div>
          </div>
        </div> <!-- col-md-3 -->
      </div> <!-- row -->
    </div> <!-- container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/jqcloud/jqcloud-1.0.4.min.js"></script>
    <script src="/myscript.js"></script>
    <script src="/tags.js"></script>

    {% block include_js %}
    {% endblock %}

  </body>
</html>