{% extends "base.html" %}

	{% block title %}
	    {{ quest.title }}
	{% endblock %}

	{% block content %}
		<div class="media">
			<a class="pull-left" href="{% url 'ask:user_questions' quest.author.id %}">
			{% if quest.author.avatar %}
              <img class="media-object" src="{{ MEDIA_URL }}{{ quest.author.avatar }}" width="64" height="64">
            {% else %}
              <img width="64" height="64">
            {% endif %}
			</a>

			<div class="media-body">
				<h2 class="media-heading">{{ quest.title }}</h2>
				<p>{{ quest.question }}</p>
			</div>

			{% for tag in quest.tags.all %}
				<a href="{% url 'ask:tag_view' tag.id %}" class="label label-info">{{ tag.name }}</a>
			{% endfor %}

			{% if user.is_authenticated %}
				<form method="post">
				{% csrf_token %}
					<div class="btn-group btn-group-xs pull-right">
						<button type="submit" class="btn btn-danger" name="question_dislike">
							<span class="glyphicon glyphicon-remove"></span>
						</button>

						<p class="btn btn-default" disabled>
							{{ quest.rating }}
						</p>

						<button type="submit" class="btn btn-success" name="question_like">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
					</div>
				</form>
			{% else %}
				<div class="btn-group btn-group-xs pull-right">
					<p class="btn btn-default" disabled>
						{{ quest.rating }}
					</p>
				</div>
			{% endif %}
		</div>

		<hr>

		{% if answers %}
		<ul class="list-group">
			{% for answer in answers %}
				<li class="list-group-item">
					<div class="media">
						<a class="pull-left" href="{% url 'ask:user_questions' answer.author.id %}">
						{% if answer.author.avatar %}
			              <img class="media-object" src="{{ MEDIA_URL }}{{ answer.author.avatar }}" width="64" height="64">
			            {% else %}
			              <img width="64" height="64">
			            {% endif %}
						</a>

						<div class="media-body">
							<h2 class="media-heading">{{ answer.title }}</h2>
							<p>{{ answer.answer }}</p>
						</div>
						
						
						{% if user.is_authenticated and user.username == quest.author.username %}
							<form method="post">
								{% csrf_token %}
								<div class="btn-group btn-group-xs">
									{% if answer.right_answer %}
										<button type="submit" class="btn btn-success" name="wrong" value="{{ answer.id }}">
											Правильный ответ!
										</button>
									{% else %}
										<button type="submit" class="btn btn-info" name="right" value="{{ answer.id }}">
											Правильный ответ?
										</button>
									{% endif %}
								</div>
							</form>
						{% else %}
							<div class="btn-group btn-group-xs">
								{% if answer.right_answer %}
									<button class="btn btn-success">
										Правильный ответ!
									</button>
								{% endif %}
							</div>
						{% endif %}

						<div class="btn-toolbar pull-right">
						{% if user.is_authenticated %}
							<form method="post">
								{% csrf_token %}
								<div class="btn-group btn-group-xs">
									<button type="submit" class="btn btn-danger" name="answer_dislike" value="{{ answer.id }}">
										<span class="glyphicon glyphicon-remove"></span>
									</button>

									<p class="btn btn-default" disabled>
										{{ answer.rating }}
									</p>

									<button type="submit" class="btn btn-success" name="answer_like" value="{{ answer.id }}">
										<span class="glyphicon glyphicon-ok"></span>
									</button>
								</div>
							</form>
						{% else %}
							<div class="btn-group btn-group-xs">
								<p class="btn btn-default" disabled>
									{{ answer.rating }}
								</p>
							</div>
						{% endif %}
						</div>
					</div> <!-- media -->
				</li> <!-- list-group-item -->
			{% endfor %}
		</ul>

		<hr>
		{% endif %}

		{% if user.is_authenticated %}
			<form class="form-horizontal" role="form" method="post">
				{% csrf_token %}
				<div class="form-group">

					{% if form.answer.errors %}
			            <div class="alert alert-danger">
			              <button type="button" class="close" data-dismiss="alert">&times;</button>
			              {{ form.answer.errors }}
			            </div>
					{% endif %}

					<textarea class="form-control" style="resize: vertical;" rows="5"
			            id="{{ form.answer.id_for_label }}" 
			            name="{{ form.answer.name }}">{{ form.answer.value|default:'' }}</textarea>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-success"> Ответить </button>
				</div>
			</form>
		{% endif %}
		
		<ul class="pager">
	      <li
	        {% if answers.has_previous %}
	          class="previous"><a href="?page={{ answers.previous_page_number }}"
	        {% else %}
	          class="previous disabled"><a
	        {% endif %}
	      > Назад </a></li>

	      <li
	        {% if answers.has_next %}
	          class="next"><a href="?page={{ answers.next_page_number }}"
	        {% else %}
	          class="next disabled"><a
	        {% endif %}
	      > Вперед </a></li>
	    </ul>
	{% endblock %}