{% extends "base.html" %}

  {% block title %}
    {% if order = 'new' %}
      Последние вопросы
    {% else %}
      Популярные вопросы
    {% endif %}
  {% endblock %}

  {% block content %}
    {% block navigation %}
      <ul class="nav nav-pills">
        <li 
          {% if order = 'new' %}
            class="active"><a
          {% else %}
            ><a href="/"
          {% endif %}
        > Новые </a></li>

        <li
          {% if order = 'popular' %}
            class="active"><a
          {% else %}
            ><a href="?sort=popular"
          {% endif %}
        > Популярные </a></li>
      </ul>
    {% endblock navigation %}

    <ul class="list-group">

    {% for quest in quest_list %}
      <li class="list-group-item">
        <div class="media">
          <a class="pull-left" href="{% url 'ask:user_questions' quest.author.id %}">
            {% if quest.author.avatar %}
              <img class="media-object" src="{{ MEDIA_URL }}{{ quest.author.avatar }}" width="64" height="64">
            {% else %}
              <img width="64" height="64">
            {% endif %}
          </a>
          
          <div class="media-body">
            <a href="{% url 'ask:detail' quest.id %}"><h2 class="media-heading">{{ quest.title }}</h2></a>
            <p>{{ quest.question|truncatechars:300 }}</p>
          </div>

          {% for tag in quest.tags.all %}
            <a href="{% url 'ask:tag_view' tag.id %}" class="label label-info">{{ tag.name }}</a>
          {% endfor %}

          <div class="btn-toolbar pull-right">
            <div class="btn-group btn-group-xs">
              <p class="btn btn-primary" disabled><span class="glyphicon glyphicon-eye-open"></span></p>
              <p class="btn btn-default" disabled>{{ quest.views }}</p>
            </div>

            <div class="btn-group btn-group-xs">
              <p class="btn btn-primary" disabled><span class="glyphicon glyphicon-comment"></span></p>
              <p class="btn btn-default" disabled>{{ quest.answers.count }}</p>
            </div>

            <div class="btn-group btn-group-xs">
              <p class="btn btn-primary" disabled><span class="glyphicon glyphicon-bullhorn"></span></p>
              <p class="btn btn-default" disabled>{{ quest.rating }}</p>
            </div>
          </div>
        </div> <!-- media -->
      </li> <!-- list-group-item -->
    {% endfor %}

    </ul> <!-- list-group -->

    <ul class="pager">
      <li
        {% if quest_list.has_previous %}
          class="previous"><a href="?sort={{ order }}&amp;page={{ quest_list.previous_page_number }}"
        {% else %}
          class="previous disabled"><a
        {% endif %}
      > Назад </a></li>

      <li
        {% if quest_list.has_next %}
          class="next"><a href="?sort={{ order }}&amp;page={{ quest_list.next_page_number }}"
        {% else %}
          class="next disabled"><a
        {% endif %}
      > Вперед </a></li>
    </ul>
  {% endblock content %}