{% extends "base.html" %}
  
  {% block title %}
    Новый вопрос
  {% endblock %}


  {% block include_css %}
    <link rel="stylesheet" type="text/css" href="/bootstrap-tokenfield/css/bootstrap-tokenfield.css">
  {% endblock %}

  {% block content %}
    <div class="page-header">
      <h1> Новый вопрос </h1>
    </div>

    <form class="form-horizontal" role="form" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.title.id_for_label }}" class="control-label col-md-2"> Заголовок </label>
        <div class="col-md-10">

        {% if form.title.errors %}
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ form.title.errors }}
          </div>
        {% endif %}

          <input type="text" class="form-control" id="{{ form.title.id_for_label }}"
            name="{{ form.title.name }}" value="{{ form.title.value|default:'' }}">
        </div>
      </div>

      <div class="form-group">
        <label for="{{ form.question.id_for_label }}" class="control-label col-md-2"> Вопрос </label>
        <div class="col-md-10">

          {% if form.question.errors %}
            <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.question.errors }}
            </div>
          {% endif %}

          <textarea class="form-control" rows="10" style="resize: vertical;" 
            id="{{ form.question.id_for_label }}" name="{{ form.question.name }}">{{ form.question.value|default:'' }}</textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="{{ form.question.id_for_label }}" class="control-label col-md-2"> Теги </label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="id_tags" name="tags">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <button type="submit" class="btn btn-success"> Спросить </button>
        </div>
      </div>
    </form>
  {% endblock %}

  {% block include_js %}
    <script src="/bootstrap-tokenfield/bootstrap-tokenfield.min.js"></script>
  {% endblock %}
