{% extends "base.html" %}

  {% block title %}
    Регистрация
  {% endblock %}

  {% block content %}
  <div class="page-header" id="new-question">
    <h1> Новый пользователь </h1>
  </div>

  <form class="form-horizontal" role="form" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.username.id_for_label }}" class="control-label col-md-2"> Логин </label>
      <div class="col-md-10">

      {% if form.username.errors %}
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ form.username.errors }}
        </div>
      {% endif %}

        <input type="text" class="form-control" id="{{ form.username.id_for_label }}"
          name="{{ form.username.name }}" value="{{ form.username.value|default:'' }}">
      </div>
    </div>

    <div class="form-group">
      <label for="{{ form.email.id_for_label }}" class="control-label col-md-2"> Email </label>
      <div class="col-md-10">

      {% if form.email.errors %}
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ form.email.errors }}
        </div>
      {% endif %}

        <input type="email" class="form-control" id="{{ form.email.id_for_label }}"
          name="{{ form.email.name }}" value="{{ form.email.value|default:'' }}">
      </div>
    </div>

    <div class="form-group">
      <label for="{{ form.password.id_for_label }}" class="control-label col-md-2"> Пароль </label>
      <div class="col-md-10">

      {% if form.password.errors %}
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ form.password.errors }}
        </div>
      {% endif %}

        <input type="password" class="form-control" id="{{ form.password.id_for_label }}"
          name="{{ form.password.name }}" value="{{ form.password.value|default:'' }}">
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <button type="submit" class="btn btn-success"> Зарегистрироваться </button>
      </div>
    </div>
  </form>
  {% endblock content %}