{% extends "base.html" %}
  
  {% block title %}
    Мои настройки
  {% endblock %}

  {% block content %}
    <div class="page-header" id="new-question">
      <h1> Настройки </h1>
    </div>

    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.username.id_for_label }}" class="control-label col-md-2"> Login </label>
        <div class="col-md-4">

          {% if form.username.errors %}
            <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.username.errors }}
            </div>
          {% endif %}

          <input type="text" class="form-control" id="{{ form.username.id_for_label }}"
            name="{{ form.username.name }}" value="{{ user.username }}">
        </div>
      </div>

      <div class="form-group">
        <label for="{{ form.email.id_for_label }}" class="control-label col-md-2"> Email </label>
        <div class="col-md-4">

          {% if form.email.errors %}
            <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.email.errors }}
            </div>
          {% endif %}

          <input type="email" class="form-control" id="{{ form.email.id_for_label }}"
            name="{{ form.email.name }}" value="{{ user.email }}">
        </div>
      </div>

      <div class="form-group">
        <label for="{{ form.avatar.id_for_label }}" class="control-label col-md-2"> Аватар </label>
        <div class="col-md-4">

          {% if form.avatar.errors %}
            <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.avatar.errors }}
            </div>
          {% endif %}

          <input type="file" id="{{ form.avatar.id_for_label }}"
            name="{{ form.avatar.name }}">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <button type="submit" class="btn btn-info"> Сохранить </button>
        </div>
      </div>
    </form>
  {% endblock %}